* {
    background:rgba(255,250,230);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.topec{
    grid-area: 3/2/4/8;

}

.loggin{
    grid-area: 3/3/4/8;
}