  {% extends 'assignment8.html' %}
               {% block content %}
            <div class="topec" >  
                <h3  style="background-color: unset;">EXPERIENCE</h3> 
        
                <p style="background-color: unset; text-align: left;">
                    <FONT color="#b30000	"  <strong>2018 – NOW | Academic Tutor</strong> <br></FONT>
                   <em> Academic tutor for JAVA, Mathematical Courses and Object-Oriented Software Development at <br>
                     Ben-Gurion University. <br></em>
                
                     <FONT color="#b30000	"  <strong>2018 – NOW | “Perah” Tutor</strong> <br></FONT>
                     <em> Tutoring high school students (mathematics and physics) <br></em>
                
                     <FONT color="#b30000	" <strong> 2016 – 2017 | “Begrot” (Matriculation exam) tutor</strong> <br></FONT>
                     <em>Matriculation exam’s courses tutoring for high school students in mathematical calculation. <br></em>
                 </p>

        </div>
                              {% endblock %}