
 {% extends 'assignment8.html' %}
               {% block content %}
            <div class="item13">
            <br><br> <br><br>
                <ul style="position: relative;top: -130px;" class="list">
               <b>Have a highschool Diploma avaraged 89.6 from "<a href="https://www.madlan.co.il/education/school/800094">ben roshd kfar cana</a>" highschool.</b><br><br>
                <b>grades:</b><br>
               
                <li class="li"> Math: 95 (5 units)</li>
                <li class="li"> English:93 (4 units)</li>
                <li class="li"> Arabic: 82 (3 units)</li>
                <li class="li"> History: 100 (2 units)</li>
                <li class="li"> Civics: 95 (2 units)</li>
                <li class="li"> Hebrew: 91 (4 units)</li>
                <li class="li"> Bible:80 (2 units)</li>
    
              </div>
    {% endblock %}