{% extends 'assignment8.html' %}
               {% block content %}
            <div class="corse">

                <p style="color:#b30000 ;text-align: left;">Relevant Course:</p>
                <em> <ul style="display: table"> 
                  <li style="background-color: unset;">Fundamentals of Accounting </li>                  
                  <li style="background-color: unset;">Data Bases  </li>
                  <li style="background-color: unset;">Computer Programming in Java </li>              
                 <li style="background-color: unset;">Information Systems Analysis and Design</li> 
                 <li style="background-color: unset;">Introduction to Marketing </li>                  
                 <li style="background-color: unset;">Introduction to Statistics for Management  </li>
                 <li style="background-color: unset;">Introduction to Operations Research </li>       
                 <li style="background-color: unset;">IT Infrastructure   </li>
                 </ul>
                 </em>
              </div> <br><br> <hr>
                          {% endblock %}